<div class="grid grid-cols-4 gap-8">
  @for (product of products(); track $index) { @let grossPrice = product.netPrice * (product.taxRate / 100 + 1);
  <mat-card>
    <a [routerLink]="['/product', product.id]">
      <div [style]="'background-color: #' + product.color" class="aspect-square"></div>
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
      </mat-card-header>
    </a>
    <mat-card-content>
      <app-product-rating [rating]="product.rating" [productId]="product.id" />
      <a [routerLink]="['/product', product.id]">{{ grossPrice | currency : 'EUR' }}</a>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-flat-button [color]="'accent'">Add to cart</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
