<mat-sidenav-container autosize class="sidenavcontainer">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="nav-list" dense>
      <a [routerLink]="['/']" class="nav-link-item" mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <zv-view [dataSource]="ds">
        @for(category of ds.result(); track category.id){
        <a [routerLink]="['/', 'category', category.id]" class="nav-link-item" mat-list-item>
          <span matListItemTitle>{{ category.name }}</span>
        </a>
        }
      </zv-view>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="header">
      <mat-toolbar color="accent">
        <span>
          Follow this project on <a href="https://dev.to/suneeh" rel="noopener noreferrer" target="_blank">dev.to</a>
          and on
          <a href="https://github.com/Suneeh/webshop" rel="noopener noreferrer" target="_blank">github</a>.
        </span>
      </mat-toolbar>
      <mat-toolbar class="head-bar">
        @if((auth.isAuthenticated$ | async) === false){
        <button mat-stroked-button (click)="loginWithRedirect()">Log in</button>
        }@else {
        <button mat-stroked-button (click)="logout()"> Log out </button>
        @if(auth.user$ | async; as user){
        <img [src]="user.picture" style="width: 40px" alt="Profile Picture" />
        <span>{{ user.nickname }}</span>
        } }
      </mat-toolbar>
    </div>
    <div id="main">
      <router-outlet></router-outlet>
    </div>
    <div id="footer">
      <span>© {{ year }} - Suneeh</span>
      <span><a href="https://github.com/Suneeh/webshop" rel="noopener noreferrer" target="_blank">github</a></span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
