<mat-sidenav-container autosize class="sidenavcontainer">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="nav-list" dense>
      <a [routerLink]="['/', 'dashboard']" class="nav-link-item" mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      @for(category of (categories | async); track category.id){
      <a [routerLink]="['/', 'category', category.id]" class="nav-link-item" mat-list-item>
        <span matListItemTitle>{{ category.name }}</span>
      </a>
      @for(childCategory of category.childCategories; track childCategory.id){
      <a [routerLink]="['/', 'category', childCategory.id]" class="nav-link-item" mat-list-item>
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <span matListItemTitle>{{ childCategory.name }}</span>
      </a>
      }
      <mat-divider></mat-divider>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="header">
      <mat-toolbar color="accent">
        <span>
          Follow this project on <a href="https://dev.to/suneeh" rel="noopener noreferrer" target="_blank">dev.to</a> and on
          <a href="https://github.com/Suneeh/webshop" rel="noopener noreferrer" target="_blank">github</a>.
        </span>
      </mat-toolbar>
      <mat-toolbar class="head-bar">
        <a class="head-bar-action"><mat-icon>person</mat-icon></a>
      </mat-toolbar>
    </div>
    <div id="main">
      <router-outlet></router-outlet>
    </div>
    <div id="footer">
      <span>© {{ year }} - Suneeh</span>
      <span><a href="https://github.com/Suneeh/webshop" rel="noopener noreferrer" target="_blank">github</a></span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
