<mat-sidenav-container autosize class="h-full">
  <mat-sidenav #sidenav mode="side" opened class="min-w-55">
    <mat-nav-list dense>
      <a [routerLink]="['/']" class="my-2 flex items-center">
        <img class="size-20" src="/assets/logo.png" alt="Sunshine Webshop Logo" />
        <span>Sunshine</span>
      </a>
      <zv-view [dataSource]="ds">
        @for(category of ds.result(); track category.id){
        <a [routerLink]="['/', 'category', category.id]" class="nav-link-item" mat-list-item>
          <span matListItemTitle>{{ category.name }}</span>
        </a>
        }
      </zv-view>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="accent">
        <span>
          Follow this project on
          <a href="https://dev.to/suneeh" rel="noopener noreferrer" target="_blank" class="underline">dev.to</a> and on
          <a href="https://github.com/Suneeh/webshop" rel="noopener noreferrer" target="_blank" class="underline">GitHub</a>.
        </span>
        @if((auth.isAuthenticated$ | async) === false){
        <button mat-flat-button class="ml-auto" color="secondary" (click)="loginWithRedirect()">Log in</button>
        }@else {
        <button mat-stroked-button (click)="logout()"> Log out </button>
        @if(auth.user$ | async; as user){
        <img [src]="user.picture" style="width: 40px" alt="Profile Picture" />
        <span>{{ user.nickname }}</span>
        } }
      </mat-toolbar>
    </div>
    <div class="px-8 py-12">
      <router-outlet></router-outlet>
    </div>
    <div class="py-12 px-8">
      <span class="text-xs">* All prices incl. VAT.</span>
      <div class="flex gap-4">
        <span>© {{ year }} - Suneeh</span>
        <span><a class="underline" href="https://github.com/Suneeh/webshop" rel="noopener noreferrer" target="_blank">GitHub</a></span>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
